{% extends "base.html" %}
{% block title %}Deezer Service by Goujon{% endblock %}
{% block content %}
  <form action="#" method="post" class="bg-secondary m-2 p-3 rounded">
    <div class="align-items-center mb-3">
      <h2>Choose some artists</h2>
      <table class="table">
        <tbody>
          {% for values in artists %}
              <tr>
                  <td>{{ values['ART_NAME'] }}</td>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="{{ values['ART_ID'] }}" name="artist_index">
                    </div>
                  </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Continue</button>
    </div>
  </form>
{% endblock %}
   