{% extends "base.html" %}
{% block title %}Deezer Service by Goujon{% endblock %}
{% block content %}
  <form action="#" method="post" class="bg-secondary m-2 p-3 rounded">
    <div class="align-items-center mb-3">
      <h2>Playlist content</h2>
      <table class="table">
        <tbody>
          {% for values in tracks %}
              <tr>
                  <td>{{ values['SNG_TITLE'] }}</td>
                  <td>{{ values['ART_NAME'] }}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row align-items-center mb-3">
      <div class="col text-center">
        <a class="btn btn-danger" href="{{ url_for('cancel') }}">Cancel</a>
      </div>
      <div class="col text-center">
        <button type="submit" class="btn btn-primary">Save on Deezer</button>
      </div>
    </div>
  </form>
{% endblock %}
   